Source: platina-mk1-ttys
Section: admin
Priority: optional
Maintainer: Kevin Paul Herbert <kph@platinasystems.com>
Build-Depends: debhelper (>= 10), dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/platinasystems/platina-mk1-ttys
Vcs-Git: https://github.com/platinasystems/platina-mk1-ttys.git
Vcs-Browser: https://github.com/platinasystems/platina-mk1-ttys

Package: platina-mk1-ttys
Architecture: any
Depends: ${misc:Depends}, systemd
Description: Systemd control unit to initialize serial TTYs
 Package to provide systemd control units for serial ports on Platina MK1.
 
